<!--
<form class="container-fluid g-3 needs-validation bg-light" novalidate>
    <div class="input-group self-align-end m-3">
        <span class="input-group-text" id="username">User</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="username"
               aria-describedby="username">
    </div>
    <div class="input-group self-align-end m-3">
        <span class="input-group-text" id="password">Password</span>
        <input type="text" class="form-control" placeholder="Password" aria-label="password"
               aria-describedby="password">
    </div>
    <div class="input-group ms-3">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
</form>
-->